{% extends 'main/base.html' %}
{% block title %}
   {{ title }}
{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
    <form method="post" class="form-register auth">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-outline-warning mt-3" type="submit">{{ btn_text }}</button>
    </form>
{% endblock %}

{%  block aside_block %}
<h4 class="mt-2">Интересные статьи</h4>
 <img src="https://itproger.com/img/news/1589893627.jpg" class="img-thumbnail">
 <p>Dolore perferendis, enim praesentium omnis, iste doloremque quia officia optio deserunt molestiae voluptates soluta architecto tempora.</p>

 <a href="https://itproger.com/news/285" target="blank">
 <button class="btn-warning">Посмотреть</button>
 </a>
  <img src="https://itproger.com/img/news/1591879929.jpg" class="img-thumbnail mt-2">
  <p>Dolore perferendis, enim praesentium omnis, iste doloremque quia officia optio deserunt molestiae voluptates soluta architecto tempora.</p>

  <a href="https://itproger.com/news/285" target="blank">
  <button class="btn-warning">Посмотреть</button>
  </a>
{% endblock %}